.price {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
		padding-bottom: 10px;
		.oldPrice {
			color: #aaa;
			text-decoration: line-through;
			font-size: 14px;
		}
	}
	.promotion {
		background-color: red;
		color: white;
		padding: 5px 8px;
		border-radius: 5px;
	}