.container {
  max-width: 1252px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 22px;

  .link {
    max-width: 232px;
    width: 100%;
    a {
      padding: 20px 0;
      border-bottom: 1px solid rgb(210, 210, 209);
      cursor: pointer;
    }
  }

  .product {
    p {
      padding-bottom: 10px;
    }
  }

  @media (max-width: 768px) {
    max-width: 350px;
    width: 100%;
    display: grid;
    gap: 0;

    .product {
      padding-top: 30px;
    }

    .img {
      // height: 300px;
      padding: -100px 0;
      img {
        // padding-top: -900px;
      }
    }
  }
}
