.container {
  max-width: 1252px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  .title {
    padding-bottom: 30px;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 17px;
  }

  @media (max-width: 768px) {
    max-width: 360px;
    width: 100%;
    padding: 0 10px;

    .title {
      font-size: 18px;
      padding-bottom: 15px;
    }
    .content {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
  }
}
