.container {
	display: flex;
	gap: 94px;
}
.img {
	width: 275px;
	height: 394px;
	background: #c4c4c4;
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.price {
	display: flex;
	flex-direction: column;

	.promotionWrapper {
		display: flex;
		gap: 15px;
		align-items: center;

		.promotion {
			background-color: red;
			color: white;
			padding: 5px 8px;
			border-radius: 5px;
			display: block;
		}
	}
	.oldPrice {
		color: #aaa;
		text-decoration: line-through;
		font-size: 14px;
	}
}

.btn {
	padding: 15px 68px 15px 68px;
}
