.backdrop {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	// display: flex;
	// justify-content: center;
	// align-items: center;
	z-index: 1000;
}
.theme {
	display: flex;
gap: 8px;
}
.modal {
	// position: fixed;
	padding: 16px 10px;
	width: 70%;
	height: 100vh;
	// z-index: 1000;
	background: rgb(229, 229, 231);
	nav {
		ul {
			list-style-type: none;
		}
		a {
			font-size: 16px;
			font-weight: 400;
			line-height: 15px;
			padding: 16px 0;
			border-bottom: 1px solid #d2d2d1;
		}
	}

	.acc {
		line-height: 15px;
		padding-bottom: 16px;
	}

	button {
		width: 100%;
	}
}
// // Анимации
// @keyframes fadeIn {
//   from { opacity: 0 }
//   to   { opacity: 1 }
// }

// @keyframes fadeOut {
//   from { opacity: 1 }
//   to   { opacity: 0 }
// }

// @keyframes slideUp {
//   from { transform: translateY(50px); opacity: 0 }
//   to   { transform: translateY(0); opacity: 1 }
// }

// @keyframes slideDown {
//   from { transform: translateY(0); opacity: 1 }
//   to   { transform: translateY(50px); opacity: 0 }
// }

// // Стили
// .backdrop {
//   position: fixed;
//   inset: 0;
//   z-index: 1000;
//   background-color: rgba(0, 0, 0, 0.4);
//   animation: fadeOut 0.3s ease forwards;

//   &.backdropVisible {
//     animation: fadeIn 0.3s ease forwards;
//   }
// }

// .modal {
//   background-color: #fff;
//   padding: 24px;
//   height: 100%;
//   width: 100%;
//   position: relative;
//   animation: slideDown 0.3s ease forwards;

//   &.modalVisible {
//     animation: slideUp 0.3s ease forwards;
//   }
// }

// .closeBtn {
//   position: absolute;
//   top: 12px;
//   right: 12px;
//   background: transparent;
//   border: none;
//   font-size: 24px;
//   cursor: pointer;
// }

// .content {
//   margin-top: 16px;
// }
