.header {
	transition: background 0.3s;
}

.wrapper {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1261px;
	display: flex;
	gap: 20px;
	justify-content: space-between;

	.search {
		min-width: 250px;
	}
	nav {
		max-width: 504px;
		width: 100%;
		line-height: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.btnWrapper {
			display: flex;
			gap: 8px;
			height: 44px;
		}
		button {
			padding: 12px;
		}
	}
}

.submenuWrapper {
	display: flex;
	gap: 20px;
	align-items: center;
}
