.color {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.colors {
	display: flex;
	gap: 10px;
}

.colorItem {
	cursor: pointer;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: box-shadow 0.3s;

	@media (max-width: 768px) {
		width: 16px;
		height: 16px;
	}
}

.activeColor {
	box-shadow: 0 0 3px 4px #777776;
}
