.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	place-items: center;
	align-items: start;
	width: 100%;

	gap: 20px;
	@media (max-width: 768px) {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 5px;
	}
}
